#links {
    float: left;
    color: black;
    background-color: white;
    height: 180px;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 15%;
    text-align: center;
    border: double solid;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid black;
}
h1 {
    text-align: center;
    color: azure;
    font-weight: bold;
    text-decoration: underline;
}
body {
    background-color: crimson;
}
#projects {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 50%;
    border: 3px solid black;
}
#aboutme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 60%;
    border: 3px solid black;
}
#skillpage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 50%;
    border: 3px solid black;
}
li {
    text-align: left;
}
#aboutme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 3px solid black;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    width: 50%;
}

